@use './../../../node_modules/bootstrap/scss/bootstrap.scss';

@use "./partials/_variables.scss" as *;
@use "./partials/_header.scss" as *;
@use "./partials/_JumboTron.scss";




body {
    background-color: $bg_body;
    color: $light;
    font-family: 'Nunito', sans-serif;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: $primary;

}

body::-webkit-scrollbar-thumb:hover {
    background-color:$info;
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    border-left:1px solid $primary;
}


.zoom-effect {
    transition: transform 0.2s ease-in-out;
    transform-origin: center center;
}

.zoom-effect:hover {
    transform: scale(1.1);
    background-color: $primary;
    color: $light;
}


.bg_primary{
    background-color: $primary;
}

.bg_tulip_tree{
    background-color: $clr_tulip_tree;
}

.txt_primary {
    color: $primary;
}


.txt_title_thin {
    font-weight: lighter;
    color: $primary
}

.txt_steps {
    font-weight: lighter;
    color: $neutral
}

.txt_note {
    color: $info;
}

.color_txt_link {
    transition: transform 1.5s ease-in-out;
    text-decoration: none;
}

.color_txt_link:hover {
    background-color: $primary;
    color: $light;
}

.my_flow {
    margin-top: 5rem;
}