@use "./_variables.scss" as *;

.pages {

  ul {
    list-style: none;
  }

  a {
    color: $info;
    text-decoration: none;
    transition: color 0.2s;
    
    &:hover {
      color: $info_light;
      text-decoration-line: underline;
    }

  }
}