

$primary: #22ad96;
$bg_body: rgb(29, 29, 29);
$dark: #333333;
$neutral: #aaaaaa;
$light: #edf3f5;
$info: #f2b91e;
$shadow_stack: #13e764;
$secondary: #c788f3a3;
$clr_bruise : #3f3a64;
$clr_tulip_tree : #efab43;

