

$primary: #22ad96;
$bg_body: rgb(29, 29, 29);
$dark: #333333;
$light: #edf3f5;
$info: #f2b91e;
$shadow_stack: #13e764;
$secondary: #c788f3a3;
$clr_italic_heavenly : #69a0fd;
$clr_button_background : #fdf0ea;
$clr_tulip_tree : #efab43;
